{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td>
                <h3>Candidates | {{ cands.items|length }} results</h3>
                <table width="100%">
                    <tr>
                        <th>Cand ID</th>
                        <th>Glon</th>
                        <th>Glat</th>
                        <th>t_E_best</th>
                        <th>chi_squared_delta_best</th>
                        <th>eta_best</th>
                        <th>eta_residual_best</th>
                        <th>eta_threshold</th>
                        <th>rf_score_best</th>
                        <th>idx_best</th>
                        <th>Source ID</th>
                        <th>Filter ID</th>
                    </tr>
                {% for cand in cands.items %}
                    <tr>
                        <td>{{ "%s" % cand.id}}</td>
                        <td>{{ "%.5f" % cand.glon }}</td>
                        <td>{{ "%.5f" % cand.glat }}</td>
                        <td>{{ "%.5f" % cand.t_E_best }}</td>
                        <td>{{ "%.5f" % cand.chi_squared_delta_best }}</td>
                        <td>{{ "%.5f" % cand.eta_best }}</td>
                        <td>{{ "%.5f" % cand.eta_residual_best }}</td>
                        <td>{{ "%.5f" % cand.eta_threshold }}</td>
                        {% if cand.rf_score is float %}
                            <td>{{ "%.5f" % cand.rf_score }}</td>
                        {%  else %}
                            <td>{{ "None" }}</td>
                        {% endif %}
                        <td>{{ "%i" % cand.idx_best }}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        {% for source_id, filter_id in zip(cand.source_id_arr, cand.filter_id_arr) %}
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a href="{{ url_for('source', sourceid=source_id) }}">{{ source_id }}</a></td>
                            <td>{{ "%i" % filter_id }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </table>
                {% if paginate == true %}
                <!-- Pagination Links-->
                <div class="text-right">
                    <a href="{{ url_for('candidates', page=cands.prev_num) }}"
                       class="btn btn-outline-dark
                       {% if cands.page == 1 %}disabled{% endif %}">
                        &laquo;
                    </a><!-- Loop through the number of pages to display a link for each-->
                    {% for page_num in cands.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}{% if page_num %}
                <!-- Check for the active page and set the link to "Active"-->
                            {% if cands.page == page_num %}
                            <a href="{{ url_for('candidates', page=page_num) }}"
                               class="btn btn-dark">
                                {{ page_num }}
                            </a>
                            {% else %}
                            <a href="{{ url_for('candidates', page=page_num) }}"
                               class="btn btn-outline-dark">
                                {{ page_num }}
                            </a>
                            {% endif %}
                        {% else %}
                            ...
                        {% endif %}
                    {% endfor %}    <a href="{{ url_for('candidates', page=cands.next_num) }}"
                       class="btn btn-outline-dark
                       {% if cands.page == cands.pages %}disabled{% endif %}">
                        &raquo;
                    </a>
                </div>
                <p class="text-right mt-3">
                   Showing page {{ cands.page }} of {{ cands.pages }}
                </p>
                {%  endif %}
            </td>
        </tr>
    </table>
{% endblock %}