{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <table class="table table-hover" width="auto">
        <col style="width:65%">
       	<col style="width:35%">
        <tr>
            <td colspan="16">
                <h3>Candidate Filter Search Parameters</h3>
                <div class="row">
                    <div class="col-md-4">
                        {{ wtf.quick_form(form) }}
                    </div>
                </div>
            </td>
        </tr>
        <tr><a href="{{ url_for('reset_filter_search') }}">Reset Filter Search</a></tr>
        {% if cands %}
            {% for cand in cands.items %}
{#                <tr><td colspan="16"><hr></td></tr>#}
                <tr id="{{ "%s" % cand.id }}">
                    <th>Cand ID</th>
                    <th>Glon</th>
                    <th>Glat</th>
                    <th>n<sub>objs,pass</sub></th>
                    <th>n<sub>objs,tot</sub></th>
                    <th>t<sub>E</sub></th>
                    <th>&#916;&#967;<super>2</super></th>
                    <th>&#951;</th>
                    <th>&#951;<sub>thresh,low</sub></th>
                    <th>&#951;<sub>residual</sub></th>
                    <th>&#951;<sub>thresh,high</sub></th>
                    <th>RB</th>
                    <th>idx<sub>best</sub></th>
                    <th>Source ID</th>
                    <th>Color</th>
                    <th>Pass</th>
                </tr>
                <tr>
                    <td><a href="{{ url_for('candidate', candid=cand.id) }}">{{ "%s" % cand.id}}</a></td>
                    <td>{{ "%.5f" % cand.glon }}</td>
                    <td>{{ "%.5f" % cand.glat }}</td>
                    <td>{{ "%i" % cand.num_objs_pass }}</td>
                    <td>{{ "%i" % cand.num_objs_tot }}</td>
                    {% if cand.t_E_best is float %}
                        <td>{{ "%.2f" %  cand.t_E_best }}</td>
                    {%  else %}
                        <td>{{ "None" }}</td>
                    {% endif %}
                    {% if cand.chi_squared_delta_best is float %}
                        <td>{{ "%.2f" %  cand.chi_squared_delta_best }}</td>
                    {%  else %}
                        <td>{{ "None" }}</td>
                    {% endif %}
                    <td>{{ "%.2f" % cand.eta_best }}</td>
                    <td>{{ "%.2f" % cand.eta_threshold_low_best }}</td>
                    <td>{{ "%.2f" % cand.eta_residual_best }}</td>
                    <td>{{ "%.2f" % cand.eta_threshold_high_best }}</td>
                    {% if cand.rf_score is float %}
                        <td>{{ "%.2f" % cand.rf_score }}</td>
                    {%  else %}
                        <td>{{ "None" }}</td>
                    {% endif %}
                    <td>{{ "%i" % cand.idx_best }}</td>
                    <td></td>
                    <td></td>
                </tr>
                {% for source_id, color, pass in zip(cand.source_id_arr, cand.color_arr, cand.pass_arr) %}
                    <tr>
                        {% if loop.index == 1 %}
                        <td>
                            {% if current_user.is_following_candidate(cand) %}
                                 <form action="{{ url_for('unfollow_candidate', candid=cand.id, whichpage="same") }}" method="post">
                                     {{ form.hidden_tag() }}
                                     {{ form.submit(value='Unfollow') }}
                                 </form>
                            {% else %}
                            <form action="{{ url_for('follow_candidate', candid=cand.id, whichpage="same") }}" method="post">
                                {{ form.hidden_tag() }}
                                {{ form.submit(value='Follow') }}
                            </form>
                            {% endif %}
                        </td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><a href="{{ url_for('source', sourceid=source_id) }}">{{ source_id }}</a></td>
                        <td>{{ "%s" % color }}</td>
                        <td>{{ "%r" % pass }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="16">
                    {% for source_id in cand.unique_source_id_arr %}
                    <img width="200" src="{{ url_for('static', filename='source/') }}{{ source_id.split('_')[0][:3] }}/{{ source_id.split('_')[0] }}/{{ source_id }}_lightcurve.png">
                    {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        {%  endif %}
        {% if paginate == true %}
        <!-- Pagination Links-->
        </table>
        <div class="text-right">
            <a href="{{ url_for('filter_search', page=cands.prev_num) }}"
               class="btn btn-outline-dark
               {% if cands.page == 1 %}disabled{% endif %}">
                &laquo;
            </a><!-- Loop through the number of pages to display a link for each-->
            {% for page_num in cands.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}{% if page_num %}
        <!-- Check for the active page and set the link to "Active"-->
                    {% if cands.page == page_num %}
                    <a href="{{ url_for('filter_search', page=page_num) }}"
                       class="btn btn-dark">
                        {{ page_num }}
                    </a>
                    {% else %}
                    <a href="{{ url_for('filter_search', page=page_num) }}"
                       class="btn btn-outline-dark">
                        {{ page_num }}
                    </a>
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}    <a href="{{ url_for('filter_search', page=cands.next_num) }}"
               class="btn btn-outline-dark
               {% if cands.page == cands.pages %}disabled{% endif %}">
                &raquo;
            </a>
        </div>
        </tr>
        <tr class="text-right mt-3">
           Showing page {{ cands.page }} of {{ cands.pages }}
        </tr>
        <tr><br></tr>
        {% endif %}
{#    </table>#}
{% endblock %}
