{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <table class="table table-hover" width="auto">
        <col style="width:65%">
       	<col style="width:35%">
        <tr>
            <td colspan="16">
                <h3>Candidate Radial Search Parameters</h3>
                <div class="row">
                    <div class="col-md-4">
                        {{ wtf.quick_form(form) }}
                    </div>
                </div>
            </td>
        </tr>
        <tr><a href="{{ url_for('reset_radial_search') }}">Reset Radial Search</a></tr>
        {% if cands %}
            {% for cand in cands.items %}
                <tr id="{{ "%s" % cand.id }}">
                    <th>Cand ID</th>
                    <th>Category</th>
                    <th>Glon</th>
                    <th>Glat</th>
                    <th>n<sub>objs,pass</sub></th>
                    <th>n<sub>objs,tot</sub></th>
                    <th>t<sub>0</sub></th>
                    <th>t<sub>E</sub></th>
                    <th>&pi;<sub>E</sub></th>
                    <th>mag<sub>base,1</sub></th>
                    <th>b<sub>sff,1</sub></th>
                    <th>&#916;&#967;<super>2</super></th>
                    <th>&#916;&#967;<sub>red</sub><super>2</super></th>
                    <th>Log L</th>
                </tr>
                <tr>
                    <td><a href="{{ url_for('candidate_level4', candid=cand.id) }}">{{ "%s" % cand.id}}</a></td>
                    {% if cand.category is string %}
                        <td>{{ cand.category }}</td>
                    {%  else %}
                        <td>{{ "None" }}</td>
                    {% endif %}
                    <td>{{ "%.5f" % cand.glon }}</td>
                    <td>{{ "%.5f" % cand.glat }}</td>
                    <td>{{ "%i" % cand.num_objs_pass }}</td>
                    <td>{{ "%i" % cand.num_objs_tot }}</td>
                    {% if cand.t0_pspl_gp is float %}
                        <td>{{ "%.2f" % cand.t0_pspl_gp }}</td>
                    {%  else %}
                        <td>{{ "None" }}</td>
                    {% endif %}
                    {% if cand.tE_pspl_gp is float %}
                        <td>{{ "%.2f" % cand.tE_pspl_gp }}</td>
                    {%  else %}
                        <td>{{ "None" }}</td>
                    {% endif %}
                    {% if cand.piE_pspl_gp is float %}
                        <td>{{ "%.3f" % cand.piE_pspl_gp }}</td>
                    {%  else %}
                        <td>{{ "None" }}</td>
                    {% endif %}
                    {% if cand.mag_base_pspl_gp is float %}
                        <td>{{ "%.2f" % cand.mag_base_pspl_gp }}</td>
                    {%  else %}
                        <td>{{ "None" }}</td>
                    {% endif %}
                    {% if cand.b_sff_pspl_gp is float %}
                        <td>{{ "%.2f" % cand.b_sff_pspl_gp }}</td>
                    {%  else %}
                        <td>{{ "None" }}</td>
                    {% endif %}
                    {% if cand.chi2_pspl_gp is float %}
                        <td>{{ "%.2f" % cand.chi2_pspl_gp }}</td>
                    {%  else %}
                        <td>{{ "None" }}</td>
                    {% endif %}
                    {% if cand.rchi2_pspl_gp is float %}
                        <td>{{ "%.2f" % cand.rchi2_pspl_gp }}</td>
                    {%  else %}
                        <td>{{ "None" }}</td>
                    {% endif %}
                    {% if cand.logL_pspl_gp is float %}
                        <td>{{ "%.2f" % cand.logL_pspl_gp }}</td>
                    {%  else %}
                        <td>{{ "None" }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td colspan="14">
                    {% for source_id in cand.unique_source_id_arr %}
                    <img width="200" src="{{ url_for('static', filename='source/') }}{{ source_id.split('_')[0][:3] }}/{{ source_id.split('_')[0] }}/{{ source_id }}_lightcurve.png">
                    {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        {%  endif %}
        {% if paginate == true %}
        <!-- Pagination Links-->
        </table>
        <div class="text-right">
            <a href="{{ url_for('radial_search', page=cands.prev_num) }}"
               class="btn btn-outline-dark
               {% if cands.page == 1 %}disabled{% endif %}">
                &laquo;
            </a><!-- Loop through the number of pages to display a link for each-->
            {% for page_num in cands.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}{% if page_num %}
        <!-- Check for the active page and set the link to "Active"-->
                    {% if cands.page == page_num %}
                    <a href="{{ url_for('radial_search', page=page_num) }}"
                       class="btn btn-dark">
                        {{ page_num }}
                    </a>
                    {% else %}
                    <a href="{{ url_for('radial_search', page=page_num) }}"
                       class="btn btn-outline-dark">
                        {{ page_num }}
                    </a>
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}    <a href="{{ url_for('radial_search', page=cands.next_num) }}"
               class="btn btn-outline-dark
               {% if cands.page == cands.pages %}disabled{% endif %}">
                &raquo;
            </a>
        </div>
        </tr>
        <tr class="text-right mt-3">
           Showing page {{ cands.page }} of {{ cands.pages }}
        </tr>
        <tr><br></tr>
        {% endif %}
{#    </table>#}
{% endblock %}
