{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <table class="table table-hover" width="auto">
        <col style="width:65%">
       	<col style="width:35%">
        <tr>
            <td>
                <h3>Source Search Parameters</h3>
                <p>Search with either (ra, dec) or (glon, glat)</p>
                <div class="row">
                    <div class="col-md-4">
                        {{ wtf.quick_form(form) }}
                    </div>
                </div>
            </td>
            <td>
                <h3>Source Search Results</h3>
                <p>{{ sources|length }} results</p>
                <table width="100%">
                    <tr>
                        <th>Source</th>
                        <th>Filter</th>
                        <th>Nepochs</th>
                    </tr>
                {% for source in sources %}
                    <td>
                    <a href="{{ url_for('source', sourceid=source.id) }}">Source {{ source.id }}</a>
                    </td>
                    {% if source.object_id_g %}
                        <tr>
                            <td></td>
                            <td>g-band</td>
                            <td>{{ source.zort_source.object_g.nepochs }}</td>
                        </tr>
                    {% endif %}
                    {% if source.object_id_r %}
                        <tr>
                            <td></td>
                            <td>r-band</td>
                            <td>{{ source.zort_source.object_r.nepochs }}</td>
                        </tr>
                    {% endif %}
                    {% if source.object_id_i %}
                        <tr>
                            <td></td>
                            <td>i-band</td>
                            <td>{{ source.zort_source.object_i.nepochs }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </table>
            </td>
        </tr>
    </table>
{% endblock %}